@tailwind base;
@tailwind components;
@tailwind utilities;

.mirror {
  transform: rotateY(180deg);
}

.mirror > div {
  transform: rotateY(180deg);
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(34, 1fr);
  grid-template-rows: repeat(21, 1fr);
  padding: 4px;
}

.wrapper > div {
  background-color: white;
}

.wrapper > :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 22;
  grid-row-start: 1;
  grid-row-end: 22;
  /* background-color: #64b5f6; */
}

.wrapper > :nth-child(2) {
  grid-column-start: 22;
  grid-column-end: 35;
  grid-row-start: 9;
  grid-row-end: 22;
  /* background-color: lightgreen; */
}

.wrapper > :nth-child(3) {
  grid-column-start: 27;
  grid-column-end: 35;
  grid-row-start: 1;
  grid-row-end: 9;
  /* background-color: pink; */
}

.wrapper > :nth-child(4) {
  grid-column-start: 22;
  grid-column-end: 27;
  grid-row-start: 1;
  grid-row-end: 6;
  /* background-color: #4db6ac; */
}

.wrapper > :nth-child(5) {
  grid-column-start: 22;
  grid-column-end: 25;
  grid-row-start: 6;
  grid-row-end: 9;
  /* background-color: lightgray; */
}

.wrapper > :nth-child(6) {
  grid-column-start: 25;
  grid-column-end: 27;
  grid-row-start: 7;
  grid-row-end: 9;
  /* background-color: lightslategray; */
}

.wrapper > :nth-child(7) {
  grid-column-start: 25;
  grid-column-end: 26;
  grid-row-start: 6;
  grid-row-end: 7;
  /* background-color: #ffee58; */
}

.wrapper > :nth-child(8) {
  grid-column-start: 26;
  grid-column-end: 27;
  grid-row-start: 6;
  grid-row-end: 7;
  /* background-color: #7986cb; */
}
